.App {
  text-align: center;
}
span {
  display: inline-block;
  width: 160px;
  height: 160px;
  background-image: url('/speechBubble.png');
  position: absolute;
  background-repeat: no-repeat;
  padding:60px 0;
  font-size: 16px;
}
.hide {
  display:none;
}
h1 {
  position: absolute;
  border:1px solid black;
  width: 100vw;
  top:0;
  left:0;
  background-color: rgba(255,255,255,0.5);
  z-index: 1000;
}
